@media screen and (max-width:1199px) and (orientation: portrait){
    
    #container-contact{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        row-gap: 30px;
    }

    #location{
        background-color: #0c2461e0;
        border: solid #a82103e0 3px;
        color: #f8c291;
        padding: 15px;
    }

    #location h1{
        font-size: larger;
    }

    iframe{
        margin-top: 2vh;
        height: 60% !important;
    }

    #location div, #contact div, #contact label{
        margin: 1vh 0 2vh 0;
        font-family: 'above';
        font-size: large;
    }

    #contact{
        background-color: #f8c291e0;
        border: solid #a82103e0 3px;
        padding: 15px;
    }

    #contact form{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 4fr 0.5fr;
    }

    #contact input{
        justify-self: left;
        align-self: center;
        width: 175px;
        height: 30px;
        margin-left: 30px;
    }

    #contact label{
        align-self: center;
    }

    #contact textarea{
        grid-column: span 2;
        padding: 10px;
        align-self: center;
    }

    #contact button{
        margin-top: 5px;
        grid-column: span 2;
        justify-self: center;
        align-self: center;
    }

    .button{
        margin-top: 5px;
        width: 75%;
        height: 30px;
        font-family: "above";
        font-size: medium;
        background-color: #0c2461;
        color: #f8c291;
        border: solid #a82103 3px;
        justify-self: center;
    }
}

@media screen and (max-width:1199px) and (orientation: landscape){
    #container-contact{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr;
        row-gap: 30px;
    }

    #location{
        background-color: #0c2461e0;
        border: solid #a82103e0 3px;
        color: #f8c291;
        padding: 15px;
    }

    iframe{
        margin-top: 2vh;
        height: 60% !important;
    }

    #location div, #contact div, #contact label{
        margin: 1vh 0 2vh 0;
        font-family: 'above';
        font-size: larger;
    }

    #contact{
        background-color: #f8c291e0;
        border: solid #a82103e0 3px;
        padding: 15px;
    }

    #contact div{
        margin-bottom: 30px;
    }

    #contact form{
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 4fr 0.5fr;
    }

    #contact input{
        justify-self: left;
        align-self: center;
        width: 300px;
        height: 30px;
        margin-left: 30px;
    }

    #contact label{
        align-self: center;
    }

    #contact textarea{
        grid-column: span 2;
        padding: 10px;
        margin-top: 30px;
        height: 70%;
    }

    #contact button{
        grid-column: span 2;
        justify-self: center;
        align-self: center;
    }

    .button{
        width: 75%;
        height: 30px;
        font-family: "above";
        font-size: medium;
        background-color: #0c2461;
        color: #f8c291;
        border: solid #a82103 3px;
        justify-self: center;
    }

}

@media screen and (min-width:1200px){
    #container-contact{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }

    #location{
        background-color: #0c2461e0;
        border: solid #a82103e0 3px;
        color: #f8c291;
        padding: 15px;
    }

    #location div, #contact div, #contact label{
        margin: 1vh 0 2vh 0;
        font-family: 'above';
        font-size: larger;
    }

    #contact{
        background-color: #f8c291e0;
        border: solid #a82103e0 3px;
        padding: 15px;
    }

    #contact form{
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: 0.5fr 0.5fr 0.5fr 4fr 0.5fr;
    }

    #contact input{
        justify-self: left;
        align-self: center;
        width: 300px;
        height: 30px;
    }

    #contact label{
        align-self: center;
    }

    #contact textarea{
        grid-column: span 2;
        padding: 10px;
    }

    #contact button{
        grid-column: span 2;
        justify-self: center;
        align-self: center;
    }
}