@font-face{
    font-family: "above";
    src: url("../fonts/AboveDemoRegular-lJMd.ttf");
}

@font-face{
    font-family: "hasta";
    src: url("../fonts/HastagirlOneDemoRegular-LzWW.ttf");
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e55039;
}

header{
    width: 100%;
    height: 20vh;
    background-color: #0c2461;
}

ul{
    list-style-type: none;
    font-family: "above";
}

a{
    text-decoration: none;
    color: #0c2461;
}

h1, h2{
    font-family: "above";
    font-size: 1.6em;
}

p{
    font-size: 1.5em;
    /* font-family: "above"; */
}

#contentValue{
    display: none;
}

/* Pour le caroussel ============================================================================================ */

#carousel{
    width: 100%;
    height: 80vh;
    opacity: 0.2;
    position: relative;
    z-index: 0;
}

[class^=page] {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
}

.page1{
    background-image: url("../img/resto1.jpg");
}

.page2{
    background-image: url("../img/bouffe1.jpg");
    display: none;
}

.page3{
    background-image: url("../img/resto2.jpg");
    display: none;
}

.page4{
    background-image: url("../img/bouffe2.jpg");
    display: none;
}

/* Editeur de texte quill ============================================================================================ */

/* Code pris à: https://stackoverflow.com/a/53487445 */
/* Set droplist names - -item is the currently selected font, -label is the font's appearance in the droplist*/
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='']::before
{
  content: 'Default';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='above']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='above']::before
{
  content: 'Above';
  font-family: 'above';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='hasta']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='hasta']::before
{
  content: 'Hasta';
  font-family: 'hasta';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='inconsolata']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='inconsolata']::before
{
  content: 'Inconsolata';
  font-family: 'inconsolata';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='roboto']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='roboto']::before
{
  content: 'Roboto';
  font-family: 'roboto';
}
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='mirza']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='mirza']::before
{
  content: 'Mirza';
  font-family: 'mirza';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='arial']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='arial']::before
{
  content: 'Arial';
  font-family: 'arial';
}

/****************************************************
Set the font-family content used for the HTML content.
*****************************************************/

.ql-font-above {
    font-family: 'above';
}

.ql-font-hasta {
    font-family: 'hasta';
}

.ql-font-inconsolata {
    font-family: 'inconsolata';
}

.ql-font-roboto {
    font-family: 'roboto';
}

.ql-font-mirza {
    font-family: 'mirza';
}

.ql-font-arial {
  font-family: 'arial';
}

/* Custom color quill ============================================================================================ */
/* Source: https://stackoverflow.com/a/48156458 */
.ql-color .ql-picker-options [data-value=custom-color], .ql-background .ql-picker-options [data-value=custom-color] {
    background: none !important;
    width: 100% !important;
    height: 20px !important;
    text-align: center;
}
.ql-color .ql-picker-options [data-value=custom-color]:before, .ql-background .ql-picker-options [data-value=custom-color]:before  {
    content: 'Custom Color';
}

.ql-color .ql-picker-options [data-value=custom-color]:hover, .ql-background .ql-picker-options [data-value=custom-color]:hover {
    border-color: transparent;
}

#content{
    position: absolute;
    height: calc(var(--vh, 1vh) * var(--contentVh));
    width: calc(100% - 100px);
    top: 20vh;
    margin: 5vh 50px 0 50px;
    color: #0c2461;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    z-index: 100;
}

#content::-webkit-scrollbar{
    display: none;
}

.ql-editor, .ql-editor h1, .ql-editor h2, .ql-editor p{
    color: initial;
    font-size: initial;
    font-family: initial;
    -ms-overflow-style: none;
}

.ql-editor::-webkit-scrollbar{
    display: none;
}

/* =============================== VERSION MOBILE ============================== */

@media screen and (max-width:1199px){

    #content{
        width: calc(100% - 50px) !important;
        margin: 5vh 25px 0 25px !important;
        font-size: 0.5em !important;
    }

    /* HEADER */
    #admin-bar{
        display: none;
    }

    #head-logo{
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;

        background: url("../img/logo.png");
        background-repeat: no-repeat;
        background-size: 19vh;

        background-position: center;

        text-indent: -9999px;
    }

    #hamburger{
        position: relative;
        display: block;
        margin: auto;
        width: 100%;
        height: 5vh;

        background: url("../img/hamburger.png");
        background-repeat: no-repeat;
        background-size: 5vh;

        background-position: center;

        text-indent: -9999px;

        z-index: 200;
    }

    #list{
        display:none;
    }

    nav{
        position: relative;
        z-index: 300;
        background-color: #f8c291;
        opacity: 1;
    }

    ul{
        text-align: center;
        background-color: #f8c291;
    }

    li{
        padding: 1% 0 1% 0;
    }


    /* ADMIN PAGE ============================================================================================ */
    #loginDiv{
        display: none;
    }

    #loginMobile{
        width: 90%;
        margin: auto;
        text-align: center;
        position: relative;
        top: 20vh;
        font-size: 1.8em;
        background-color: #0c2461;
        color: #f8c291;
        border: solid #eb2f06 5px;
        padding: 10px;
        font-family: "above";
    }
   
}

/* ============================= VERSION BUREAU ================================ */

@media screen and (min-width:1200px){
    /* HEADER */
    header{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 100%;
    }

    #head-logo{
        display: block;
        width: 100%;
        height: 100%;

        background: url("../img/logo.png");
        background-repeat: no-repeat;
        background-size: 19vh;

        text-indent: -9999px;

    }

    nav{
        align-self: flex-end;
        justify-self: right;
        margin-bottom: 10px;
    }

    ul{
        width: 100%;
    }

    li{
        display: inline;
        font-size: 1.8em;
        padding: 0 14px 0 10px;
        border-right: #f8c291 solid 2px;
    }

    li:last-child{
        border: none;
    }

    a{
        color: #f8c291;
    }

    #hamburger{
        display: none;
    }

    #admin-bar{
        position: absolute;
        width: 1000px;
        height: 50px;
        right: 0;
        color: #f8c291;
        font-size: 0.8em;
        text-align: right;

    }

    /* GLOBAL CONTENT ============================================================================================ */
    h1{
        font-size: 2.5em;
    }

    /* ADMIN LOGIN PAGE ============================================================================================ */
    #loginDiv{
        width: 30%;
        margin: auto;
        text-align: center;
        position: relative;
        top: 15vh;
        font-size: 1.8em;
        background-color: #0c2461;
        color: #f8c291;
        border: solid #eb2f06 5px;
        padding: 10px;
        font-family: "above";

    }

    #admin-login{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .loginTitle{
        grid-column: span 2;
        font-weight: bold;
    }

    #login-title{
        font-size: 1.6em;
    }

    .error{
        font-size: 1.3em;
        background-color: #eb2f06;
        border-radius: 10px;
        padding-top: 8px;
        font-family: "arial";
        width: 90%;
        text-align: center;
    }

    #admin-login label{
        height: 30%;
        font-size: 0.8em;
        justify-self: right;
        align-self: center;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    #admin-login input{
        width: 80%;
        height: 40%;
        justify-self: left;
        align-self: center;
        margin-left: 20px;
    }

    #buttonLogin{
        justify-self: center;
        align-self: center;
        grid-column: span 2;
    }

    #loginMobile{
        display: none;
    }

    /* ADMIN HOME PAGE ============================================================================================ */

    #change-pwd form{
        width: 30vw;
        height: 20vh;
        margin: auto;
        background-color: #0c2461e0;
        border: solid #a82103e0 3px;
        color: #f8c291;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;


        margin-bottom: 3vh;
        padding: 10px;
    }

    #change-pwd form h2, #change-pwd form button{
        grid-column: span 2;
    }

    #change-pwd form label, #add-user form label, #delete-user form label{
        font-family: "above";
        align-self: center;
        justify-self: right;
        margin-right: 15px;
    }

    #change-pwd form input{
        width: 200px;
        height: 20px;
        align-self: center;
        justify-self: left;
        margin-left: 15px;
    }

    #add-user form{
        width: 30vw;
        height: 20vh;
        margin: auto;
        background-color: #0c2461e0;
        border: solid #a82103e0 3px;
        color: #f8c291;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;

        margin-bottom: 3vh;

        padding: 10px;
    }

    #add-user form h2, #add-user form button{
        grid-column: span 3;
    }

    #add-user form input, #delete-user form h2, #delete-user form button{
        grid-column: span 2;
    }

    #add-user form > input{
        width: 325px;
        height: 20px;
        justify-self: center;
        align-self: center;
    }

    #add-user form div{
        font-family: "above";
    }

    #delete-user form{
        width: 30vw;
        height: 20vh;
        margin: auto;
        background-color: #0c2461e0;
        border: solid #a82103e0 3px;
        color: #f8c291;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;

        margin-bottom: 3vh;

        padding: 10px;
    }

    .button{
        background-color: #f8c291;
        color: #0c2461;
        border: solid #eb2f06 4px;
        border-radius: 5px;

        font-family: "hasta";
        font-size: 1.3em;

        margin-top: 10px;

        box-shadow: 0 0 5px white;

        width: 180px;
        height: 50px;
    }

    .button:hover{
        cursor: pointer;
        box-shadow: 0 0 20px white;
    }

    #delete-user form select{
        width: 200px;
        height: 25px;
        font-size: 1.3em;
        align-self: center;
        justify-self: left;
        margin-left: 15px;
    }

    /* ADMINISTRATION (EDITEUR) ============================================================================================ */

    .ql-toolbar{
        position: absolute;
        top:20vh;

        background-color: #eb2f06;

        width: 90%;
        height: 4vh;
        z-index: 1000;

        border-radius: 5px;
    }

    #save-btn{
        position: absolute;
        top:20vh;
        right: 0;
        width: 10%;
        height: 4vh;
        background-color: #0c2461;
        border-radius: 5px;
        font-family: "above";
        color: #f8c291;
        font-weight: bolder;
        font-size: 1.3em;
    }      
}