@font-face{
    font-family: "above";
    src: url("../fonts/AboveDemoRegular-lJMd.ttf");
}

@font-face{
    font-family: "hasta";
    src: url("../fonts/HastagirlOneDemoRegular-LzWW.ttf");
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f8c291;
}

header{
    width: 100%;
    height: 20vh;
    background-color: #0c2461;
}

ul{
    list-style-type: none;
    font-family: "above";
}

a{
    text-decoration: none;
    color: #0c2461;
}

@media screen and (max-width:999px){
    
    /* HEADER */
    #head-logo{
        display: block;
        margin: auto;
        width: 100%;
        height: 100%;
        
        background: url("../images/logo.png");
        background-repeat: no-repeat;
        background-size: 19vh;

        background-position: center;
        
        text-indent: -9999px;
    }

    #hamburger{
        display: block;
        margin: auto;
        width: 100%;
        height: 5vh;
        
        background: url("../images/hamburger.png");
        background-repeat: no-repeat;
        background-size: 5vh;
        background-color: #f8c291;

        background-position: center;
        
        text-indent: -9999px;

    }

    #list{
        display:none;
    }

    ul{
        text-align: center;
        background-color: #f8c291;
    }

    li{
        padding: 1% 0 1% 0;
    }


}

@media screen and (min-width:1000px){
    /* HEADER */
    header{
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 100%;
    }

    #head-logo{
        display: block;
        width: 100%;
        height: 100%;
        
        background: url("../images/logo.png");
        background-repeat: no-repeat;
        background-size: 19vh;
        
        text-indent: -9999px;
        
    }

    nav{
        align-self: flex-end;
        justify-self: right;
        margin-bottom: 10px;
    }

    ul{
        width: 100%;
    }

    li{
        display: inline;
        font-size: 1.8em;
        padding: 0 14px 0 10px;
        border-right: #f8c291 solid 2px;
    }

    li:last-child{
        border: none;
    }

    a{
        color: #f8c291;
    }

    #hamburger{
        display: none;
    }

    /* Pour le caroussel de la page d'accueuil */
  
    #carousel{
        width: 100%;
        height: 80vh;
        opacity: 20%;
    }

    [class^=page] {
          position: relative;
          left: 0;
          top: 0;
          width: 100%;   
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
    }

    .page1{
        background-image: url("../images/resto1.jpg");
    }

    .page2{
        background-image: url("../images/bouffe1.jpg");
        display: none;
    }

    .page3{
        background-image: url("../images/resto2.jpg");
        display: none;
    }

    .page4{
        background-image: url("../images/bouffe2.jpg");
        display: none;
    }

    h1{
        font-family: "hasta";
        font-size: 3em;
    }

    #content{
        position: absolute;
        height: 75vh;
        width: calc(100% - 100px);
        top: 20vh;
        margin: 5vh 50px 0 50px;
        color: #0c2461;
        overflow-y: scroll;
        -ms-overflow-style: none;
    }

    #content::-webkit-scrollbar{
        display: none;
    }
        

}