@media screen and (max-width:1199px) and (orientation: portrait){
    #content{
        height: 67vh !important;
    }
    
    #reservation-mobile{
        position: fixed;
        top: 93vh;
        background-color: #f8c291;
        color: #0c2461;
        border: solid #a82103 3px;
        text-align: center;
        width: 90vw;
        margin: 0 5vw 0 5vw;
        z-index: 1000;
    }

    #reservation-mobile h1{
        margin: 5px;
        font-size: larger;
        font-weight: 1200;
    }
    
    #reservation{
        display:none;
        position: fixed;
        top: 0;
        
        height: 520px;
        width: calc(100% - 140px);
        
        margin: 5vh 50px 0 50px;
        color: #0c2461;
        
        background-color: #f8c291;
        border: solid #a82103 3px;
        
        padding: 20px;
        
        text-align: center;
        
        z-index: 500;
    }

    #reservation form{
        margin-top: 1vh;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
    }

    #nb-pers{
        width: 100%;
    }

    .res-mobile{
        grid-column: span 2;
    }

    #btn-res{
        margin-top: 5px;
        width: 75%;
        height: 30px;
        font-family: "above";
        font-size: medium;
        background-color: #0c2461;
        color: #f8c291;
        border: solid #a82103 3px;
        justify-self: center;
    }
}

@media screen and (max-width:1199px) and (orientation: landscape){
    #content{
        height: 67vh !important;
    }
    
    #reservation-mobile{
        position: fixed;
        top: 90vh;
        background-color: #f8c291;
        color: #0c2461;
        border: solid #a82103 3px;
        text-align: center;
        width: 90vw;
        margin: 0 5vw 0 5vw;
        z-index: 1000;
    }

    #reservation-mobile h1{
        margin: 5px;
        font-size: larger;
        font-weight: 1200;
    }
    
    #reservation{
        display:none;
        position: absolute;
        top: 5vh;
        
        height: 70vh;
        width: calc(100% - 100px);
        
        margin: 5vh 50px 0 50px;
        color: #0c2461;
        
        background-color: #f8c291;
        border: solid #a82103 3px;
        
        padding: 10px;
        
        text-align: center;

        overflow-y:scroll;
        
        z-index: 500;
    }

    #reservation form{
        margin-top: 5px;
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        align-items: center
    }

    input{
        width: 80%;
        height: 30px;
        justify-self: center;
    }

    select{
        width: 80%;
        height: 30px;
    }

    .res-mobile{
        grid-column: span 2;
    }

    #btn-res{
        width: 75%;
        height: 30px;
        font-family: "above";
        font-size: medium;
        background-color: #0c2461;
        color: #f8c291;
        border: solid #a82103 3px;
        justify-self: center;
        margin: 5px 0 5px 0;
    }
}

@media screen and (min-width:1200px){
    #reservation-mobile{
        display: none;
    }
    
    #reservation{
        position: fixed;
        top: 65vh;

        height: calc(calc(var(--vh, 1vh) * 25) - 40px);
        width: calc(100% - 140px);

        margin: 5vh 50px 0 50px;
        color: #0c2461;

        background-color: #f8c291;
        border: solid #a82103 3px;

        padding: 20px;

        z-index: 200;
    }

    #reservation h1{
        margin-bottom: 20px;
        font-weight: bolder;
    }

    #reservation > div{
        font-size: larger;
    }

    #reservation form{
        margin-top: 30px;
        font-size: medium;
        font-weight: bold;
    }

    #btn-res{
        font-family: 'above';
        color: #f8c291;
        background-color: #0c2461;
        width: 90px;
        height: 30px;
        font-weight: bold;
        border: solid #a82103 3px;
    }

    select, input{
        width: 8vw;
        height: 3vh;
        margin-right: 1vw;
    }
}