@media screen and (max-width:1199px){

}

@media screen and (min-width:1200px){
    #reservation{
        position: fixed;
        top: 65vh;

        height: calc(calc(var(--vh, 1vh) * 25) - 40px);
        width: calc(100% - 140px);

        margin: 5vh 50px 0 50px;
        color: #0c2461;

        background-color: #f8c291;
        border: solid #a82103 3px;

        padding: 20px;

        z-index: 200;
    }

    #reservation h1{
        margin-bottom: 20px;
        font-weight: bolder;
    }

    #reservation > div{
        font-size: larger;
    }

    #reservation form{
        margin-top: 30px;
        font-size: medium;
        font-weight: bold;
    }

    #btn-res{
        font-family: 'above';
        color: #f8c291;
        background-color: #0c2461;
        width: 90px;
        height: 30px;
        font-weight: bold;
        border: solid #a82103 3px;
    }
}