# Accès reffusé
ErrorDocument 403 http://159.89.122.16/error.php?code=403

# Page inexistante
ErrorDocument 404 http://159.89.122.16/error.php?code=404

# erreur interne
ErrorDocument 500 http://159.89.122.16/error.php?code=500